@charset "utf-8";
/* DP CSS Document */

.left { float:left; }
.right { float:right; }
.clear_both { clear:both; }

.align_left { text-align:left; }
.align_right { text-align:right; }
.align_center { text-align:center; }

#map_canvas {
	display:block; 
	width:100%; 
	height:480px;
	border:1px solid #ccc;
	box-shadow:0px 0px 3px #999;
	-webkit-box-shadow:0px 0px 3px #999;
	-moz-box-shadow:0px 0px 3px #999;
	-o-box-shadow:0px 0px 3px #999;
}

@media only screen and (max-device-width: 480px) {
	#map_canvas {
		display:block; 
		width:100%; 
		height:225px;
		border:1px solid #ccc;
		box-shadow:0px 0px 3px #999;
		-webkit-box-shadow:0px 0px 3px #999;
		-moz-box-shadow:0px 0px 3px #999;
		-o-box-shadow:0px 0px 3px #999;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#map_canvas {
		display:block; 
		width:100%; 
		height:480px;
		border:1px solid #ccc;
		box-shadow:0px 0px 3px #999;
		-webkit-box-shadow:0px 0px 3px #999;
		-moz-box-shadow:0px 0px 3px #999;
		-o-box-shadow:0px 0px 3px #999;
	}
}

#txt_search_ps {
	display:inline;
	vertical-align:middle;
	width:87%;
	padding:0.3em;
	font-size:0.9em;
	color:#333;
}

@media only screen and (max-device-width: 480px) {
	#txt_search_ps {
		display:inline;
		vertical-align:middle;
		width:70%;
		padding:0.3em;
		font-size:0.9em;
		color:#333;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#txt_search_ps {
		display:inline;
		vertical-align:middle;
		width:92%;
		padding:0.3em;
		font-size:0.9em;
		color:#333;
	}
}

#btn_search { display:inline; vertical-align:middle; }

#footer_text {
	text-align:center;
	color:#f6f6f6;
	font-size:10px;
}

#footer_text a { color:#6C0; }


/* Android Styles */

.km-android .km-content { background-color:#fff; }

.km-android .km-button { 
	display:inline; 
	padding:.6em; 
	vertical-align:middle; 
	background-color:#ebebeb;
	box-shadow:0px 0px 3px #999;
	-webkit-box-shadow:0px 0px 3px #999;
	-moz-box-shadow:0px 0px 3px #999;
	-o-box-shadow:0px 0px 3px #999;
}

.km-android #txt_search_ps {
	display:inline;
	vertical-align:middle;
	width:67%;
	padding:.4em;
	font-size:0.9em;
	color:#333;
}

.km-android .km-navbar {
	background-color:#ebebeb;
	box-shadow:0px 0px 5px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	-moz-box-shadow:0px 0px 5px #999;
	-o-box-shadow:0px 0px 5px #999;
}

.km-android .km-navbar .km-view-title { display:block; color:#333; }

.km-android .km-footer { position:fixed; bottom:0px; left:0px; padding:3px; }

.km-android #map_canvas {
	display:block; 
	width:100%; 
	height:90%;
	min-height:325px;
	border:1px solid #ccc;
	box-shadow:0px 0px 3px #999;
	-webkit-box-shadow:0px 0px 3px #999;
	-moz-box-shadow:0px 0px 3px #999;
	-o-box-shadow:0px 0px 3px #999;
}


#loader  
{
    display:none;
    position:fixed; 
    top:49%; 
    left:49%; 
    background-color:#333; 
    color:#fff; 
    font-size:1em; 
    padding:0.5em;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    cursor:progress;
}

#loader img { display:inline; width:16px; height:16px; vertical-align:middle; margin-right:3px; }


.infoWin 
{
    font-size:13px;
    line-height:1.2em;
}