@charset "utf-8";
/* DP CSS Document */


.left { float:left; }
.right { float:right; }
.clear_both { clear:both; }

.align_left { text-align:left; }
.align_right { text-align:right; }
.align_center { text-align:center; }

#map_canvas {
	display:block; 
	width:100%; 
	height:480px;
	border:1px solid #ccc;
	box-shadow:0px 0px 3px #999;
	-webkit-box-shadow:0px 0px 3px #999;
	-moz-box-shadow:0px 0px 3px #999;
	-o-box-shadow:0px 0px 3px #999;
}

#txt_search_ps {
	display:inline;
	width:92%;
	padding:0.3em;
	font-size:0.9em;
	color:#333;
}


#btn_search { }

#footer_text {
	text-align:center;
	color:#f6f6f6;
	font-size:10px;
}

#footer_text a { color:#6C0; }