@charset "utf-8";
/* Delhi Police Mobile Web CSS Document */

/* CSS Reset */
* { margin:0px; padding:0px; border:0px; text-indent:0px; font-weight:normal; font-size:12px; }

/* common styles */

html { background-color:#fff; }

body { text-align:center; color:#333; font-family:Arial, Helvetica, sans-serif; }

#wrapper { width:90%; margin:10px auto; text-align:left; }

.left { float:left; }

.right { float:right; }

.clear_both { clear:both; }

/* button styles */

input[type=button], input[type=submit], input[type=reset] { 
	color: #777;
	border: solid 1px #ccc;
	padding:5px;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ebebeb));
	background: -moz-linear-gradient(top,  #f2f2f2,  #ebebeb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ebebeb');
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover { 
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #d6d6d6,  #f6f6f6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#f6f6f6');
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f6f6f6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#f6f6f6');
}


/* header =branding */
#branding h1 { 
	color:#50b3ed; 
	font-size:2.4em; 
	margin:10px 0px; 
	text-shadow:1px 1px 2px #ccc;
}

/* =main_content */
#main_content { margin:10px 0px; }


/* =search */

#fm_search_ps img { display:inline; width:24px; height:24px; margin:10px 0px; }

#fm_search_ps input[type=search], #fm_search_ps input[type=text] { 
	display:inline;
	padding:5px; 
	font-size:1.2em; 
	width:89%; 
	color:#666; 
	outline:none; 
	margin:10px 0px;
	margin-right:1%; 
	border:1px solid #ccc;
}

/* =map_canvas */
#map_canvas { 
	margin:15px 0px;
	width:100%; 
	height:90%; 
	min-height:480px; 
	box-shadow:0px 0px 5px #ccc; 
	-webkit-box-shadow:0px 0px 5px #ccc; 
	-moz-box-shadow:0px 0px 5px #ccc;
	-o-box-shadow:0px 0px 5px #ccc;
}


/* =footer */
footer p { text-align:center; font-size:.9em; margin:10px; }

